body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: #000;
}

.wrapper {
  background-color: #333;
}

.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  color: #fff;
  font-size: 20px;
  border: 2px solid rgb(17, 61, 81);
  background-color: rgb(17, 61, 81);
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
  transition: 500ms;
}

.navbar a:hover {
  background-color: transparent;
  color: #000;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}


.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 500px;
  

  > .banner {
      text-transform: uppercase;
      text-align: center;
      align-content: center;
      font-size: 70px;
      font-family: 'Montserrat';
      font-weight: 700;
      color: #636060;
  }
}


/* slider */

.slides {
  animation: slider 10s linear infinite;
  background-repeat: no-repeat;
}

@keyframes slider {
  0% {
    background-image: url(../images/4ee705d57e3d8bb60bb24f1aa5b33412-removebg-preview.png);
  }

  30% {
    background-image: url(../images/7e35c73d38424daa9000d02b0b9f2cad-removebg-preview.png);
  }

  60% {
    background-image: url(../images/Turbotext_AI_Image_1779728-removebg-preview.png);
  }

  100% {
    background-image: url(../images/Turbotext_AI_Image_1779728-removebg-preview.png);
  }
}